<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css">
	<script src="https://code.jquery.com/jquery.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- ADD GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?" rel="stylesheet">
	<script src="/assets/js/burger.js"></script>
    <title>Best Burgers!</title>
</head>
    <body>
        {{{ body }}}    
    </body>
</html>